<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClockOverlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <ClockOverlay.Properties.Settings>
            <setting name="offsetTop" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="offsetLeft" serializeAs="String">
                <value>1835</value>
            </setting>
            <setting name="colorCode" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
        </ClockOverlay.Properties.Settings>
    </userSettings>
</configuration>
